/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #00589b;
$presentation-title-slide-text-align: "left";
$code-block-font-size: 0.6em;
$backgroundColor: #fcfbf9;


/*-- scss:rules --*/
.reveal .title {
  padding-right: 550px;
}

.reveal h1 {
    color: #A60024;
}
